.navigation
  nav.navigation__wrapper
    a.navigation__link.--navigation__link(href="/")
      svg.navigation__link__icon(width="138" height="32" viewBox="0 0 138 32" fill="none" xmlns="http://www.w3.org/2000/svg")
        g(clip-path="url(#clip0)")
          path(d="M51.3655 24.8605C51.2253 24.5509 51.1048 24.2242 51.0039 23.8801C50.903 23.5371 50.8306 23.1852 50.7871 22.8244C50.3924 23.4863 49.8707 24.0355 49.2217 24.4708C48.573 24.9062 47.801 25.1245 46.9067 25.1245C45.4158 25.1245 44.2669 24.7587 43.4603 24.0249C42.6533 23.2921 42.25 22.293 42.25 21.0281C42.25 19.6951 42.7867 18.6636 43.8614 17.9298C44.9355 17.1967 46.503 16.8302 48.5641 16.8302H50.7211V15.7499C50.7211 15.0962 50.5414 14.5897 50.182 14.2289C49.8222 13.8692 49.2873 13.6886 48.577 13.6886C47.9544 13.6886 47.474 13.8331 47.1367 14.1223C46.7986 14.4112 46.6303 14.8073 46.6303 15.3098H42.9343L42.9079 15.2345C42.8466 14.0868 43.3704 13.0966 44.4801 12.2623C45.5891 11.429 47.0386 11.0117 48.8276 11.0117C50.5375 11.0117 51.9207 11.4222 52.9776 12.2435C54.0346 13.0649 54.563 14.2415 54.563 15.7745V21.3923C54.563 22.0283 54.6133 22.6282 54.7142 23.1889C54.8148 23.75 54.9749 24.3073 55.1945 24.8602H51.3662V24.8605H51.3655ZM47.8538 22.4102C48.5199 22.4102 49.1168 22.2514 49.6428 21.9326C50.1691 21.6141 50.5286 21.2461 50.7215 20.8268V18.9041H48.5645C47.7486 18.9041 47.1324 19.0966 46.7159 19.4815C46.2991 19.8672 46.0912 20.3407 46.0912 20.9021C46.0912 21.363 46.247 21.7292 46.5583 22.0014C46.8689 22.2739 47.3011 22.4102 47.8538 22.4102Z" fill="#48A882")
          path(d="M70.2797 18.4403C70.2797 20.4679 69.8065 22.0891 68.859 23.3036C67.9116 24.5187 66.5437 25.1257 64.755 25.1257C63.922 25.1257 63.196 24.9581 62.5781 24.6229C61.9601 24.2884 61.4359 23.7979 61.0062 23.1526L60.6903 24.8621H57.4414V5.25781H61.2694V12.7097C61.6812 12.1657 62.1748 11.7467 62.7492 11.4534C63.3233 11.1604 63.983 11.0136 64.7287 11.0136C66.5351 11.0136 67.9119 11.6653 68.859 12.9676C69.8065 14.2703 70.2797 16.0066 70.2797 18.1766V18.4403ZM66.452 18.1763C66.452 16.8528 66.2481 15.8033 65.8401 15.0283C65.4326 14.2539 64.7372 13.8663 63.7552 13.8663C63.1589 13.8663 62.6547 13.9855 62.2425 14.2243C61.8303 14.4635 61.5062 14.8045 61.2694 15.2483V21.0038C61.5065 21.4149 61.8328 21.729 62.2493 21.9464C62.6658 22.1647 63.1768 22.2731 63.7819 22.2731C64.7729 22.2731 65.4657 21.9399 65.8605 21.2736C66.2549 20.6076 66.4524 19.6633 66.4524 18.4403V18.1763H66.452Z" fill="#48A882")
          path(d="M78.5962 22.3093C79.2623 22.3093 79.7929 22.1193 80.1877 21.7377C80.5824 21.3565 80.7796 20.8472 80.7796 20.2109H84.2788L84.3045 20.2862C84.3398 21.6604 83.8046 22.8108 82.6995 23.7357C81.5948 24.6616 80.2266 25.1242 78.5955 25.1242C76.4909 25.1242 74.8642 24.4817 73.7156 23.1951C72.5663 21.9094 71.9922 20.2654 71.9922 18.263V17.8859C71.9922 15.892 72.5642 14.248 73.7088 12.9535C74.8535 11.659 76.4734 11.0117 78.5698 11.0117C80.305 11.0117 81.705 11.4893 82.7655 12.4442C83.8274 13.3991 84.3398 14.6561 84.3045 16.2143L84.2788 16.2896H80.7796C80.7796 15.5861 80.5846 15.0019 80.1945 14.5365C79.8036 14.0712 79.2623 13.8389 78.5698 13.8389C77.5789 13.8389 76.8746 14.218 76.4581 14.9763C76.0416 15.7346 75.8334 16.7038 75.8334 17.8855V18.2627C75.8334 19.4689 76.0416 20.4453 76.4581 21.1906C76.875 21.9367 77.5874 22.3093 78.5962 22.3093Z" fill="#48A882")
          path(d="M93.8087 21.9545C93.8087 21.5819 93.6725 21.2824 93.4011 21.0562C93.1301 20.83 92.6523 20.6171 91.9698 20.4178C90.8002 20.0802 89.9126 19.6837 89.3061 19.2269C88.6999 18.7697 88.3975 18.147 88.3975 17.3573C88.3975 16.5633 88.7387 15.915 89.4213 15.4115C90.1038 14.908 90.9738 14.6562 92.0322 14.6562C93.1558 14.6562 94.0605 14.9271 94.7451 15.468C95.4298 16.0093 95.7607 16.7189 95.7368 17.5968L95.7236 17.6367H93.7527C93.7527 17.1533 93.5994 16.7816 93.2927 16.5227C92.9868 16.2628 92.5571 16.1333 92.0047 16.1333C91.503 16.1333 91.1158 16.2485 90.8416 16.4788C90.5677 16.7094 90.4308 17.0048 90.4308 17.3642C90.4308 17.6922 90.5791 17.962 90.8765 18.1725C91.1735 18.3834 91.6863 18.6062 92.4155 18.8416C93.5302 19.1434 94.3793 19.5365 94.9644 20.022C95.5499 20.5081 95.842 21.1482 95.842 21.9416C95.842 22.7708 95.5036 23.4255 94.8254 23.9048C94.1478 24.3834 93.2514 24.6226 92.1374 24.6226C91.0462 24.6226 90.1095 24.3627 89.3271 23.8445C88.5448 23.3253 88.165 22.9298 88.1885 21.9007L88.2024 21.8612L90.1733 21.4827C90.1733 22.0554 90.3498 22.4764 90.7025 22.7469C91.0555 23.0177 91.5333 23.1526 92.137 23.1526C92.6801 23.1526 93.0945 23.044 93.3801 22.827C93.6668 22.6096 93.8087 22.318 93.8087 21.9545Z" fill="#48A882")
          path(d="M102.625 22.3946H99.3376L98.6551 24.4835H96.5312L99.9506 14.7969H102.033L105.438 24.4835H103.315L102.625 22.3946ZM99.8393 20.8708H102.131L101.009 17.4578H100.967L99.8393 20.8708Z" fill="#48A882")
          path(d="M108.448 22.9935H112.989V24.4835H106.414V14.7969H108.447V22.9935H108.448Z" fill="#48A882")
          path(d="M116.374 22.9935H120.914V24.4835H114.34V14.7969H116.373V22.9935H116.374Z" fill="#48A882")
          path(d="M128.059 20.2256H124.299V22.9938H128.77V24.4842H122.266V14.7969H128.756V16.2937H124.299V18.7288H128.059V20.2256Z" fill="#48A882")
          path(d="M135.48 21.9545C135.48 21.5819 135.345 21.2824 135.073 21.0562C134.801 20.83 134.324 20.6171 133.642 20.4178C132.472 20.0802 131.584 19.6837 130.978 19.2269C130.372 18.7697 130.069 18.147 130.069 17.3573C130.069 16.5633 130.41 15.915 131.093 15.4115C131.775 14.908 132.646 14.6562 133.704 14.6562C134.828 14.6562 135.732 14.9271 136.417 15.468C137.102 16.0093 137.432 16.7189 137.409 17.5968L137.395 17.6367H135.424C135.424 17.1533 135.271 16.7816 134.965 16.5227C134.659 16.2628 134.229 16.1333 133.677 16.1333C133.175 16.1333 132.787 16.2485 132.513 16.4788C132.239 16.7094 132.103 17.0048 132.103 17.3642C132.103 17.6922 132.251 17.962 132.548 18.1725C132.845 18.3834 133.359 18.6062 134.087 18.8416C135.201 19.1434 136.051 19.5365 136.636 20.022C137.222 20.5081 137.513 21.1482 137.513 21.9416C137.513 22.7708 137.175 23.4255 136.497 23.9048C135.819 24.3834 134.923 24.6226 133.809 24.6226C132.718 24.6226 131.781 24.3627 130.999 23.8445C130.216 23.3253 129.837 22.5514 129.86 21.5222L129.874 21.4827H131.845C131.845 22.0554 132.021 22.4764 132.374 22.7469C132.727 23.0177 133.206 23.1526 133.809 23.1526C134.352 23.1526 134.766 23.044 135.052 22.827C135.339 22.6096 135.48 22.318 135.48 21.9545Z" fill="#48A882")
          path(d="M0.0165457 16.0783C0.0165457 12.1308 0.0119101 8.18319 0.0186852 4.23529C0.0222511 1.84829 1.36731 0.517331 3.86628 0.512562C12.1309 0.495189 20.3953 0.496892 28.6596 0.5112C31.155 0.514947 32.551 1.81286 32.5632 4.20395C32.6013 11.9383 32.5985 19.6723 32.6063 27.4066C32.6067 27.7909 32.5828 28.1785 32.5243 28.5573C32.2237 30.5039 30.9799 31.5981 28.9138 31.6076C22.5647 31.6372 16.215 31.6274 9.86554 31.6325C7.81622 31.6342 5.76655 31.639 3.71723 31.6301C1.4051 31.6226 0.00763101 30.3008 0.00370853 28.1138C-0.00342326 24.1015 0.00192558 20.0906 0.00192558 16.0783H0.0165457Z" fill="#48A882")
          path(d="M7.66406 12.6653L12.5664 7.94922H19.8498L24.9248 12.7988V24.5645L19.8498 19.8539V12.6646H12.7077L12.7041 19.8539H19.505L14.7063 24.57H12.7077L7.66406 19.7227V12.6653Z" fill="white")
          mask(id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="15" y="7" width="5" height="6")
            path(d="M19.8506 7.94922H15.1133V12.665H19.8506V7.94922Z" fill="url(#paint0_linear)")
          g(mask="url(#mask0)")
            path(d="M19.8506 7.94922H15.1133V12.665H19.8506V7.94922Z" fill="url(#paint1_linear)")
          mask(id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="7" y="12" width="6" height="6")
            path(d="M12.7073 12.6641H7.66406V17.1778H12.7073V12.6641Z" fill="url(#paint2_linear)")
          g(mask="url(#mask1)")
           path(d="M12.7073 12.6641H7.66406V17.1778H12.7073V12.6641Z" fill="url(#paint3_linear)")
          mask(id="mask2" mask-type="alpha" maskUnits="userSpaceOnUse" x="12" y="19" width="6" height="6")
            path(d="M17.444 19.8555H12.707V24.5709H17.444V19.8555Z" fill="url(#paint4_linear)")
          g(mask="url(#mask2)")
            path(d="M17.444 19.8555H12.707V24.5709H17.444V19.8555Z" fill="url(#paint5_linear)")
        defs
          linearGradient(id="paint0_linear" x1="15.1152" y1="10.3036" x2="19.8708" y2="10.3036" gradientUnits="userSpaceOnUse")
            stop
            stop(offset="1" stop-color="white")
          linearGradient(id="paint1_linear" x1="15.1152" y1="10.3036" x2="19.8708" y2="10.3036" gradientUnits="userSpaceOnUse")
            stop(stop-color="white")
            stop(offset="1" stop-color="#DCDCDB")
          linearGradient(id="paint2_linear" x1="10.1856" y1="17.1639" x2="10.1856" y2="12.6681" gradientUnits="userSpaceOnUse")
            stop
            stop(offset="1" stop-color="white")
          linearGradient(id="paint3_linear" x1="10.1965" y1="17.1638" x2="10.1965" y2="12.668" gradientUnits="userSpaceOnUse")
            stop(stop-color="white")
            stop(offset="1" stop-color="#DCDCDC")
          linearGradient(id="paint4_linear" x1="17.4487" y1="22.2114" x2="12.7062" y2="22.2114" gradientUnits="userSpaceOnUse")
            stop
            stop(offset="1" stop-color="white")
          linearGradient(id="paint5_linear" x1="17.4487" y1="22.2114" x2="12.7062" y2="22.2114" gradientUnits="userSpaceOnUse")
            stop(stop-color="white")
            stop(offset="1" stop-color="#DCDCDC")
          clipPath(id="clip0")
            rect(width="138" height="31" fill="white" transform="translate(0 0.5)")

    ul.navigation__list
      each item in navigation.data.list
        li.navigation__list__item
           a.navigation__list__link.--navigation__link(href=link(item.link))=item.text
