$white = #FFFFFF

$background = #FFFEFC
$background-dark = #171B23

$title = #1F2C3C
$subtitle = #37404D
$paragraph = #707987
$paragraph-light = #7B828C
$paragraph-lighter = #999EA5
$paragraph-4 = #AFB3B8
$paragraph-5 = #C1C4C8
$paragraph-6 = #D3D5D7
$paragraph-7 = #DDDEDF

$grey-1 = #2B2B2B
$grey-2 = #7C7C7C
$grey-3 = #ADADAD
$grey-4 = #C5C5C5
$grey-5 = #D6D6D6
$grey-6 = #F4F4F4

$primary-default = #48A882
$primary-dark = #384B42
$primary-light = #9AB0A6
$primary-disable = #B8E0D0
$primary-focus = #389870
$primary-complementary = #DEB887
