// Displays
$H1 = ratio(40)
$H2 = ratio(32)
$H3 = ratio(28)
$H4 = ratio(24)
$H5 = ratio(22)
$displaySubtitle = ratio(20)
$bodyLarge = ratio(18)
$bodyMedium = ratio(16)
$bodySmall = ratio(14)

$horizontalPadding = ratio(108)
$verticalPadding = ratio(80)

$font-title-large = Lato-ExtraBold
$font-title-medium = Lato-ExtraBold
$font-title-small = Lato-ExtraBold
$font-subtitle = Lato-Bold
$font-body-1 = Mulish-Regular
$font-body-2 = Mulish-Regular
$font-body-3 = Mulish-Regular

$ease-out-expo = cubic-bezier(0.19, 1, 0.22, 1)
$ease-in-1 = cubic-bezier(.42,0,.87,.28)

$z-indexes = 'navigation', 'content'

