extends ../partials/layout.pug
include ../utils/mixins.pug

block variables
  - var template = 'category'
  - var categoryTemplate = category.uid

block hero
  - if(categoryTemplate === 'actualites' || categoryTemplate === 'inspirations')
    +hero

block thumbnail
  include ../components/thumbnailHero.pug

block slider
  +slider(category.data.selection_title)

  - if(categoryTemplate === 'actualites' || categoryTemplate === 'inspirations')
    +slider(category.data.favoris_title)
