extends ../base.pug
include ../utils/mixins.pug

block variables
  - var template = 'home'
  - var number = '96'

block content
  .home
    .home__wrapper
      include ../components/thumbnailHero

      +article-wrapper('Actualités', '96', home.data.actu_link, home.data.actu_button)
      +article-wrapper('Inspirations', '111', home.data.inspi_link, home.data.inspi_button)

      section.home__guides
        h2.home__guides__title="Nos guides"
        .home__guides__wrapper
          each guide in guides.data.contents
            a.home__guide(href=link(guide.contents_content))
              span.home__guide__text.subtitle--large=guide.contents_content.data.title

      +event-wrapper('Évènements', '13', home.data.events_link, home.data.events_button)
